Задание 1

In [1]:
import csv

with open("employees.csv", "r") as csvfile:
    data = csv.reader(csvfile, delimiter= ",")
    
    for row in data: 
        print(", ".join(row))

employ_id, first_name, last_name, email, phone_number, hire_date, job_id, salary, commission_pct, manager_id, department_id
100, Steven, King, SKING, 515.123.4567, 1987-06-17, AD_PRES, 24000, , , 90
101, Neena, Kochhar, NKOCHHAR, 515.123.4568, 1987-06-18, AD_VP, 17000, , 100, 90
102, Lex, De Haan, LDEHAAN, 515.123.4569, 1987-06-19, AD_VP, 17000, , 100, 90
103, Alexander, Hunold, AHUNOLD, 590.423.4567, 1987-06-20, IT_PROG, 9000, , 102, 60
104, Bruce, Ernst, BERNST, 590.423.4568, 1987-06-21, IT_PROG, 6000, , 103, 60
105, David, Austin, DAUSTIN, 590.423.4569, 1987-06-22, IT_PROG, 4800, , 103, 60
106, Valli, Pataballa, VPATABAL, 590.423.4560, 1987-06-23, IT_PROG, 4800, , 103, 60
107, Diana, Lorentz, DLORENTZ, 590.423.5567, 1987-06-24, IT_PROG, 4200, , 103, 60
108, Nancy, Greenberg, NGREENBE, 515.124.4569, 1987-06-25, FI_MGR, 12000, , 101, 100
109, Daniel, Faviet, DFAVIET, 515.124.4169, 1987-06-26, FI_ACCOUNT, 9000, , 108, 100
110, John, Chen, JCHEN, 515.124.4269, 1987-06-27, FI_ACCOUNT, 8200, , 108, 100
111, Ismael, Sciarra, ISCIARRA, 515.124.4369, 1987-06-28, FI_ACCOUNT, 7700, , 108, 100
112, Jose Manuel, Urman, JMURMAN, 515.124.4469, 1987-06-29, FI_ACCOUNT, 7800, , 108, 100
113, Luis, Popp, LPOPP, 515.124.4567, 1987-06-30, FI_ACCOUNT, 6900, , 108, 100
114, Den, Raphaely, DRAPHEAL, 515.127.4561, 1987-07-01, PU_MAN, 11000, , 100, 30
115, Alexander, Khoo, AKHOO, 515.127.4562, 1987-07-02, PU_CLERK, 3100, , 114, 30
116, Shelli, Baida, SBAIDA, 515.127.4563, 1987-07-03, PU_CLERK, 2900, , 114, 30
117, Sigal, Tobias, STOBIAS, 515.127.4564, 1987-07-04, PU_CLERK, 2800, , 114, 30
118, Guy, Himuro, GHIMURO, 515.127.4565, 1987-07-05, PU_CLERK, 2600, , 114, 30
119, Karen, Colmenares, KCOLMENA, 515.127.4566, 1987-07-06, PU_CLERK, 2500, , 114, 30
120, Matthew, Weiss, MWEISS, 650.123.1234, 1987-07-07, ST_MAN, 8000, , 100, 50
121, Adam, Fripp, AFRIPP, 650.123.2234, 1987-07-08, ST_MAN, 8200, , 100, 50
122, Payam, Kaufling, PKAUFLIN, 650.123.3234, 1987-07-09, ST_MAN, 7900, , 100, 50
123, Shanta, Vollman, SVOLLMAN, 650.123.4234, 1987-07-10, ST_MAN, 6500, , 100, 50
124, Kevin, Mourgos, KMOURGOS, 650.123.5234, 1987-07-11, ST_MAN, 5800, , 100, 50
125, Julia, Nayer, JNAYER, 650.124.1214, 1987-07-12, ST_CLERK, 3200, , 120, 50
126, Irene, Mikkilineni, IMIKKILI, 650.124.1224, 1987-07-13, ST_CLERK, 2700, , 120, 50
127, James, Landry, JLANDRY, 650.124.1334, 1987-07-14, ST_CLERK, 2400, , 120, 50
128, Steven, Markle, SMARKLE, 650.124.1434, 1987-07-15, ST_CLERK, 2200, , 120, 50
129, Laura, Bissot, LBISSOT, 650.124.5234, 1987-07-16, ST_CLERK, 3300, , 121, 50
130, Mozhe, Atkinson, MATKINSO, 650.124.6234, 1987-07-17, ST_CLERK, 2800, , 121, 50
131, James, Marlow, JAMRLOW, 650.124.7234, 1987-07-18, ST_CLERK, 2500, , 121, 50
132, TJ, Olson, TJOLSON, 650.124.8234, 1987-07-19, ST_CLERK, 2100, , 121, 50
133, Jason, Mallin, JMALLIN, 650.127.1934, 1987-07-20, ST_CLERK, 3300, , 122, 50
134, Michael, Rogers, MROGERS, 650.127.1834, 1987-07-21, ST_CLERK, 2900, , 122, 50
135, Ki, Gee, KGEE, 650.127.1734, 1987-07-22, ST_CLERK, 2400, , 122, 50
136, Hazel, Philtanker, HPHILTAN, 650.127.1634, 1987-07-23, ST_CLERK, 2200, , 122, 50
137, Renske, Ladwig, RLADWIG, 650.121.1234, 1987-07-24, ST_CLERK, 3600, , 123, 50
138, Stephen, Stiles, SSTILES, 650.121.2034, 1987-07-25, ST_CLERK, 3200, , 123, 50
139, John, Seo, JSEO, 650.121.2019, 1987-07-26, ST_CLERK, 2700, , 123, 50
140, Joshua, Patel, JPATEL, 650.121.1834, 1987-07-27, ST_CLERK, 2500, , 123, 50
141, Trenna, Rajs, TRAJS, 650.121.8009, 1987-07-28, ST_CLERK, 3500, , 124, 50
142, Curtis, Davies, CDAVIES, 650.121.2994, 1987-07-29, ST_CLERK, 3100, , 124, 50
143, Randall, Matos, RMATOS, 650.121.2874, 1987-07-30, ST_CLERK, 2600, , 124, 50
144, Peter, Vargas, PVARGAS, 650.121.2004, 1987-07-31, ST_CLERK, 2500, , 124, 50
145, John, Russell, JRUSSEL, 011.44.1344.429268, 1987-08-01, SA_MAN, 14000, 0.4, 100, 80
146, Karen, Partners, KPARTNER, 011.44.1344.467268, 1987-08-02, SA_MAN, 13500, 0.3, 100, 80
147, Alberto, Errazuriz, AERRAZUR, 011.44.1344.429278, 1987-08-03, SA_MAN, 12000, 0.3, 100, 80
148, Gerald, Cambrault, GCAMBRAU, 011.44.1344.619268, 1987-08-04, SA_MAN, 11000, 0.3, 100, 80
149, Eleni, Zlotkey, EZLOTKEY, 011.44.1344.429018, 1987-08-05, SA_MAN, 10500, 0.2, 100, 80
150, Peter, Tucker, PTUCKER, 011.44.1344.129268, 1987-08-06, SA_REP, 10000, 0.3, 145, 80

Задание 2

In [2]:
import csv
with open('countries.csv', 'r') as csvfile:
 data = csv.reader(csvfile, delimiter = '\t')
 for row in data:
   print(', '.join(row))

country_id country_name region_id
AR Argentina 2
AU Australia 3
BE Belgium 1
BR Brazil 2
CA Canada 2
CH Switzerland 1
CN China 3
DE Germany 1
DK Denmark 1
EG Egypt 4
FR France 1
HK HongKong 3
IL Israel 4
IN India 3
IT Italy 1
JP Japan 3
KW Kuwait 4
MX Mexico 2
NG Nigeria 4
N Netherlands 1
SG Singapore 3
UK United Kingdom 1
US United States of America 2
ZM Zambia 4
ZW Zimbabwe 4

Задание 3

In [3]:
import csv
with open('employees.csv', 'r') as csvfile:
   reader = csv.reader(csvfile)
   data_list = list(reader)
print(data_list)

[['employ_id', 'first_name', 'last_name', 'email', 'phone_number', 'hire_date', 'job_id', 'salary', 'commission_pct', 'manager_id', 'department_id'], ['100', 'Steven', 'King', 'SKING', '515.123.4567', '1987-06-17', 'AD_PRES', '24000', '', '', '90'], ['101', 'Neena', 'Kochhar', 'NKOCHHAR', '515.123.4568', '1987-06-18', 'AD_VP', '17000', '', '100', '90'], ['102', 'Lex', 'De Haan', 'LDEHAAN', '515.123.4569', '1987-06-19', 'AD_VP', '17000', '', '100', '90'], ['103', 'Alexander', 'Hunold', 'AHUNOLD', '590.423.4567', '1987-06-20', 'IT_PROG', '9000', '', '102', '60'], ['104', 'Bruce', 'Ernst', 'BERNST', '590.423.4568', '1987-06-21', 'IT_PROG', '6000', '', '103', '60'], ['105', 'David', 'Austin', 'DAUSTIN', '590.423.4569', '1987-06-22', 'IT_PROG', '4800', '', '103', '60'], ['106', 'Valli', 'Pataballa', 'VPATABAL', '590.423.4560', '1987-06-23', 'IT_PROG', '4800', '', '103', '60'], ['107', 'Diana', 'Lorentz', 'DLORENTZ', '590.423.5567', '1987-06-24', 'IT_PROG', '4200', '', '103', '60'], ['108', 'Nancy', 'Greenberg', 'NGREENBE', '515.124.4569', '1987-06-25', 'FI_MGR', '12000', '', '101', '100'], ['109', 'Daniel', 'Faviet', 'DFAVIET', '515.124.4169', '1987-06-26', 'FI_ACCOUNT', '9000', '', '108', '100'], ['110', 'John', 'Chen', 'JCHEN', '515.124.4269', '1987-06-27', 'FI_ACCOUNT', '8200', '', '108', '100'], ['111', 'Ismael', 'Sciarra', 'ISCIARRA', '515.124.4369', '1987-06-28', 'FI_ACCOUNT', '7700', '', '108', '100'], ['112', 'Jose Manuel', 'Urman', 'JMURMAN', '515.124.4469', '1987-06-29', 'FI_ACCOUNT', '7800', '', '108', '100'], ['113', 'Luis', 'Popp', 'LPOPP', '515.124.4567', '1987-06-30', 'FI_ACCOUNT', '6900', '', '108', '100'], ['114', 'Den', 'Raphaely', 'DRAPHEAL', '515.127.4561', '1987-07-01', 'PU_MAN', '11000', '', '100', '30'], ['115', 'Alexander', 'Khoo', 'AKHOO', '515.127.4562', '1987-07-02', 'PU_CLERK', '3100', '', '114', '30'], ['116', 'Shelli', 'Baida', 'SBAIDA', '515.127.4563', '1987-07-03', 'PU_CLERK', '2900', '', '114', '30'], ['117', 'Sigal', 'Tobias', 'STOBIAS', '515.127.4564', '1987-07-04', 'PU_CLERK', '2800', '', '114', '30'], ['118', 'Guy', 'Himuro', 'GHIMURO', '515.127.4565', '1987-07-05', 'PU_CLERK', '2600', '', '114', '30'], ['119', 'Karen', 'Colmenares', 'KCOLMENA', '515.127.4566', '1987-07-06', 'PU_CLERK', '2500', '', '114', '30'], ['120', 'Matthew', 'Weiss', 'MWEISS', '650.123.1234', '1987-07-07', 'ST_MAN', '8000', '', '100', '50'], ['121', 'Adam', 'Fripp', 'AFRIPP', '650.123.2234', '1987-07-08', 'ST_MAN', '8200', '', '100', '50'], ['122', 'Payam', 'Kaufling', 'PKAUFLIN', '650.123.3234', '1987-07-09', 'ST_MAN', '7900', '', '100', '50'], ['123', 'Shanta', 'Vollman', 'SVOLLMAN', '650.123.4234', '1987-07-10', 'ST_MAN', '6500', '', '100', '50'], ['124', 'Kevin', 'Mourgos', 'KMOURGOS', '650.123.5234', '1987-07-11', 'ST_MAN', '5800', '', '100', '50'], ['125', 'Julia', 'Nayer', 'JNAYER', '650.124.1214', '1987-07-12', 'ST_CLERK', '3200', '', '120', '50'], ['126', 'Irene', 'Mikkilineni', 'IMIKKILI', '650.124.1224', '1987-07-13', 'ST_CLERK', '2700', '', '120', '50'], ['127', 'James', 'Landry', 'JLANDRY', '650.124.1334', '1987-07-14', 'ST_CLERK', '2400', '', '120', '50'], ['128', 'Steven', 'Markle', 'SMARKLE', '650.124.1434', '1987-07-15', 'ST_CLERK', '2200', '', '120', '50'], ['129', 'Laura', 'Bissot', 'LBISSOT', '650.124.5234', '1987-07-16', 'ST_CLERK', '3300', '', '121', '50'], ['130', 'Mozhe', 'Atkinson', 'MATKINSO', '650.124.6234', '1987-07-17', 'ST_CLERK', '2800', '', '121', '50'], ['131', 'James', 'Marlow', 'JAMRLOW', '650.124.7234', '1987-07-18', 'ST_CLERK', '2500', '', '121', '50'], ['132', 'TJ', 'Olson', 'TJOLSON', '650.124.8234', '1987-07-19', 'ST_CLERK', '2100', '', '121', '50'], ['133', 'Jason', 'Mallin', 'JMALLIN', '650.127.1934', '1987-07-20', 'ST_CLERK', '3300', '', '122', '50'], ['134', 'Michael', 'Rogers', 'MROGERS', '650.127.1834', '1987-07-21', 'ST_CLERK', '2900', '', '122', '50'], ['135', 'Ki', 'Gee', 'KGEE', '650.127.1734', '1987-07-22', 'ST_CLERK', '2400', '', '122', '50'], ['136', 'Hazel', 'Philtanker', 'HPHILTAN', '650.127.1634', '1987-07-23', 'ST_CLERK', '2200', '', '122', '50'], ['137', 'Renske', 'Ladwig', 'RLADWIG', '650.121.1234', '1987-07-24', 'ST_CLERK', '3600', '', '123', '50'], ['138', 'Stephen', 'Stiles', 'SSTILES', '650.121.2034', '1987-07-25', 'ST_CLERK', '3200', '', '123', '50'], ['139', 'John', 'Seo', 'JSEO', '650.121.2019', '1987-07-26', 'ST_CLERK', '2700', '', '123', '50'], ['140', 'Joshua', 'Patel', 'JPATEL', '650.121.1834', '1987-07-27', 'ST_CLERK', '2500', '', '123', '50'], ['141', 'Trenna', 'Rajs', 'TRAJS', '650.121.8009', '1987-07-28', 'ST_CLERK', '3500', '', '124', '50'], ['142', 'Curtis', 'Davies', 'CDAVIES', '650.121.2994', '1987-07-29', 'ST_CLERK', '3100', '', '124', '50'], ['143', 'Randall', 'Matos', 'RMATOS', '650.121.2874', '1987-07-30', 'ST_CLERK', '2600', '', '124', '50'], ['144', 'Peter', 'Vargas', 'PVARGAS', '650.121.2004', '1987-07-31', 'ST_CLERK', '2500', '', '124', '50'], ['145', 'John', 'Russell', 'JRUSSEL', '011.44.1344.429268', '1987-08-01', 'SA_MAN', '14000', '0.4', '100', '80'], ['146', 'Karen', 'Partners', 'KPARTNER', '011.44.1344.467268', '1987-08-02', 'SA_MAN', '13500', '0.3', '100', '80'], ['147', 'Alberto', 'Errazuriz', 'AERRAZUR', '011.44.1344.429278', '1987-08-03', 'SA_MAN', '12000', '0.3', '100', '80'], ['148', 'Gerald', 'Cambrault', 'GCAMBRAU', '011.44.1344.619268', '1987-08-04', 'SA_MAN', '11000', '0.3', '100', '80'], ['149', 'Eleni', 'Zlotkey', 'EZLOTKEY', '011.44.1344.429018', '1987-08-05', 'SA_MAN', '10500', '0.2', '100', '80'], ['150', 'Peter', 'Tucker', 'PTUCKER', '011.44.1344.129268', '1987-08-06', 'SA_REP', '10000', '0.3', '145', '80']]

Задание 4

In [4]:
import csv
data = csv.DictReader(open("departments.csv"))
for i in data:
   print(i)

{'department_id': '10', ' department_name': ' Administration', '  manager_id': ' 200', '  location_id': ' 1700'}
{'department_id': '20', ' department_name': ' Marketing', '  manager_id': ' 201', '  location_id': ' 1800'}
{'department_id': '30', ' department_name': ' Purchasing', '  manager_id': ' 114', '  location_id': ' 1700'}
{'department_id': '40', ' department_name': ' Human Resources', '  manager_id': ' 203', '  location_id': ' 2400'}
{'department_id': '50', ' department_name': ' Shipping', '  manager_id': ' 121', '  location_id': ' 1500'}
{'department_id': '60', ' department_name': ' IT', '  manager_id': ' 103', '  location_id': ' 1400'}
{'department_id': '70', ' department_name': ' Public Relations', '  manager_id': ' 204', '  location_id': ' 2700'}
{'department_id': '80', ' department_name': ' Sales', '  manager_id': ' 145', '  location_id': ' 2500'}

Задание 5

In [6]:
import csv

with open('departments.csv', 'r') as csvfile:
   data = csv.reader(csvfile, skipinitialspace=False)
   for i in data:
     print(', '.join(i))

department_id,  department_name,   manager_id,   location_id
10,  Administration,  200,  1700
20,  Marketing,  201,  1800
30,  Purchasing,  114,  1700
40,  Human Resources,  203,  2400
50,  Shipping,  121,  1500
60,  IT,  103,  1400
70,  Public Relations,  204,  2700
80,  Sales,  145,  2500

Задача 6 (Я не нашел подходящего файла на сайте, поэтому заменил его на имеющийся)

In [2]:
import csv
csv.register_dialect('csv_dialect',
                    delimiter=',',
                    skipinitialspace=True,
                    quoting=csv.QUOTE_ALL)
with open('departments.csv', 'r') as csvfile:
   reader = csv.reader(csvfile, dialect='csv_dialect')
   for i in reader:
       print(i)

['department_id', 'department_name', 'manager_id', 'location_id']
['10', 'Administration', '200', '1700']
['20', 'Marketing', '201', '1800']
['30', 'Purchasing', '114', '1700']
['40', 'Human Resources', '203', '2400']
['50', 'Shipping', '121', '1500']
['60', 'IT', '103', '1400']
['70', 'Public Relations', '204', '2700']
['80', 'Sales', '145', '2500']

Задача 7

In [7]:
import csv
with open('departments.csv', 'r') as csvfile:
    data = csv.DictReader(csvfile, skipinitialspace=True)  
    print("ID Department name")
    for i in data:
        print(i['department_id'], i['department_name'])

ID Department name
10 Administration
20 Marketing
30 Purchasing
40 Human Resources
50 Shipping
60 IT
70 Public Relations
80 Sales

Задача 8

In [11]:
import csv
fields = []
rows = []
with open('departments.csv', 'r') as csvfile:
 data = csv.reader(csvfile)
 fields = next(data)
 for i in data:
   print(', '.join(i))
print("\nСтроки: %d"%(data.line_num))
print('Названия:')
print(', '.join(field for field in fields))

10,  Administration,  200,  1700
20,  Marketing,  201,  1800
30,  Purchasing,  114,  1700
40,  Human Resources,  203,  2400
50,  Shipping,  121,  1500
60,  IT,  103,  1400
70,  Public Relations,  204,  2700
80,  Sales,  145,  2500

Строки: 9
Названия:
department_id,  department_name,   manager_id,   location_id

Задача 9

In [12]:
import csv
import sys
with open('temp.csv', 'wt') as f:
    writer = csv.writer(f)
    writer.writerow(('id1', 'id2', 'date'))
    for i in range(3):
        row = (
            i + 1,
            chr(ord('a') + i),
            '01/{:02d}/2019'.format(i + 1),)
        writer.writerow(row)
print(open('temp.csv', 'rt').read())

id1,id2,date

1,a,01/01/2019

2,b,01/02/2019

3,c,01/03/2019

Задача 10

In [13]:
import csv
data = [[10,'a1', 1], [12,'a2', 3], [14, 'a3', 5], [16, 'a4', 7], [18, 'a5', 9]]
with open("temp.csv", "w", newline="") as f:
   writer = csv.writer(f)
   writer.writerows(data)
with open('temp.csv', newline='') as csvfile:
 data = csv.reader(csvfile, delimiter=' ')
 for row in data:
   print(', '.join(row))

10,a1,1
12,a2,3
14,a3,5
16,a4,7
18,a5,9

Задача 11

In [14]:
import csv
csv_columns = ['id','Column1', 'Column2', 'Column3', 'Column4', 'Column5']
dict_data = {'id':['1', '2', '3'],
    'Column1':[33, 25, 56],
    'Column2':[35, 30, 30],
    'Column3':[21, 40, 55],
    'Column4':[71, 25, 55],
    'Column5':[10, 10, 40], }
csv_file = "temp.csv"
try:
   with open(csv_file, 'w') as csvfile:
       writer = csv.DictWriter(csvfile, fieldnames=csv_columns)
       writer.writeheader()
       for data in dict_data:
           writer.writerow(dict_data)
except IOError:
   print("I/O error")
data = csv.DictReader(open(csv_file))
print("CSV file as a dictionary:\n")
for row in data:
   print(row)

CSV file as a dictionary:

{'id': "['1', '2', '3']", 'Column1': '[33, 25, 56]', 'Column2': '[35, 30, 30]', 'Column3': '[21, 40, 55]', 'Column4': '[71, 25, 55]', 'Column5': '[10, 10, 40]'}
{'id': "['1', '2', '3']", 'Column1': '[33, 25, 56]', 'Column2': '[35, 30, 30]', 'Column3': '[21, 40, 55]', 'Column4': '[71, 25, 55]', 'Column5': '[10, 10, 40]'}
{'id': "['1', '2', '3']", 'Column1': '[33, 25, 56]', 'Column2': '[35, 30, 30]', 'Column3': '[21, 40, 55]', 'Column4': '[71, 25, 55]', 'Column5': '[10, 10, 40]'}
{'id': "['1', '2', '3']", 'Column1': '[33, 25, 56]', 'Column2': '[35, 30, 30]', 'Column3': '[21, 40, 55]', 'Column4': '[71, 25, 55]', 'Column5': '[10, 10, 40]'}
{'id': "['1', '2', '3']", 'Column1': '[33, 25, 56]', 'Column2': '[35, 30, 30]', 'Column3': '[21, 40, 55]', 'Column4': '[71, 25, 55]', 'Column5': '[10, 10, 40]'}
{'id': "['1', '2', '3']", 'Column1': '[33, 25, 56]', 'Column2': '[35, 30, 30]', 'Column3': '[21, 40, 55]', 'Column4': '[71, 25, 55]', 'Column5': '[10, 10, 40]'}

JSON

Задание 1

In [1]:
import json
json_obj =  '{ "Name":"David", "Class":"I", "Age":6 }'
python_obj = json.loads(json_obj)
print("\nJSON data:")
print(python_obj)
print("\nName: ",python_obj["Name"])
print("Class: ",python_obj["Class"])
print("Age: ",python_obj["Age"])

JSON data:
{'Name': 'David', 'Class': 'I', 'Age': 6}

Name:  David
Class:  I
Age:  6

Задание 2

In [2]:
import json
python_obj = {
  "name": "David",
  "class":"I",
  "age": 6  
}
print(type(python_obj))
j_data = json.dumps(python_obj)
print(j_data)

<class 'dict'>
{"name": "David", "class": "I", "age": 6}

Задание 3

In [3]:
import json
python_dict =  {"name": "David", "age": 6, "class":"I"}
python_list =  ["Red", "Green", "Black"]

json_dict = json.dumps(python_dict)
json_list = json.dumps(python_list)

print("json dict : ", json_dict)
print("jason list : ", json_list)

json dict :  {"name": "David", "age": 6, "class": "I"}
jason list :  ["Red", "Green", "Black"]

Задание 4

In [4]:
import json
j_str = {'4': 5, '6': 7, '1': 3, '2': 4}
print("Original String:")
print(j_str)
print("\nJSON data:")
print(json.dumps(j_str, sort_keys=True, indent=4))

Original String:
{'4': 5, '6': 7, '1': 3, '2': 4}

JSON data:
{
    "1": 3,
    "2": 4,
    "4": 5,
    "6": 7
}

Задание 5

In [5]:
import json

jobj_dict =  '{"name": "David", "age": 6, "class": "I"}'
jobj_list =   '["Red", "Green", "Black"]'

python_dict =  json.loads(jobj_dict)
python_list = json.loads(jobj_list)

print("Python dictionary: ", python_dict)
print("Python list: ", python_list)

Python dictionary:  {'name': 'David', 'age': 6, 'class': 'I'}
Python list:  ['Red', 'Green', 'Black']

Задание 6 (Тут тоже не было файла, поэтому я нашел случайный сэмпл)

In [15]:
import json

with open('example_1.json') as f:
    data = json.load(f)

if 'color' in data:
    del data['color']

with open('new_example_1.json', 'w') as f:
    json.dump(data, f)

print("Цвет удален, новые данные сохранены в 'new_example_1.json'.")

Цвет удален, новые данные сохранены в 'new_example_1.json'.

Задание 7

In [17]:
import json

def encode_complex(object):
    if isinstance(object, complex):
        return [object.real, object.imag]
    raise TypeError(repr(object) + " is not JSON serialized")

complex_obj = json.dumps(2 + 3j, default=encode_complex)
print(complex_obj)

[2.0, 3.0]

Задание 8

In [7]:
import json
def is_complex_num(objct):
    if '__complex__' in objct:
        return complex(objct['real'], objct['img'])
    return objct

complex_object =json.loads('{"__complex__": true, "real": 4, "img": 5}', object_hook = is_complex_num)
simple_object =json.loads('{"real": 4, "img": 3}', object_hook = is_complex_num)
print("Complex_object: ",complex_object)
print("Without complex object: ",simple_object)

Complex_object:  (4+5j)
Without complex object:  {'real': 4, 'img': 3}

Задание 9

In [18]:
import json
python_obj = '{"a":  1, "a":  2, "a":  3, "a": 4, "b": 1, "b": 2}'
print("Питоновый объект:")
print(python_obj)
json_obj = json.loads(python_obj)
print("\nJSON объект:")
print(json_obj)

Питоновый объект:
{"a":  1, "a":  2, "a":  3, "a": 4, "b": 1, "b": 2}

JSON объект:
{'a': 4, 'b': 2}